/* Highlight colors */
$color-highlight-pink: rgb(221, 15, 135); // Highlight color
$color-highlight-green: rgb(30, 235, 108); // Highlight color

/* Shadow colors */
$color-dark-shadow: #111;
$color-light-shadow: #666;

/* Dark Theme */
// Background colors
$color-primary-dark: #222; // Darker background color
$color-secondary-dark: #333; // Dark background color

// Scrollbar colors
$color-scrollbar-dark: #555;
$color-scrollbar-hover-dark: #777;

/* Light Theme */
// Background colors
$color-primary-light: white; // Darker background color
$color-secondary-light: #ddd; // Dark background color

// Scrollbar colors
$color-scrollbar-light: #333;
$color-scrollbar-hover-light: #555;


/* Text colors */
$color-txt-light: white; // Light text color
$color-txt-dark: black; // Dark text color
$color-txt-muted: gray; // Muted text text