@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// Font
$font-main: 'Roboto', sans-serif;

// Colors
@import './colors.scss';

// Layout values
$body-panel-h-padding: 15px;

/* || Layout */
html {
    height: 100%
}

body {
    overflow: hidden;
    margin: 0;
    font-family: $font-main;
    height: 100%;
}

#root {
    height: 100%;
}

.client {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.top-bar {
    height: 50px;
    width: 100%;
    display: flex;
    z-index: 999;
    align-items: center;
    padding-left: 100px;
}

.room-status-bar {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    display: flex;
    z-index: 998;
    background-color: rgba(10, 0, 0, 0.9);
    color: red;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 2px $color-dark-shadow;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.client-body {
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;
}

.rooms-panel {
    padding-top: 15px;
    height: inherit;
    width: max-content;
    white-space: nowrap;
    z-index: 97;
}

.main-body {
    height: inherit;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    overflow-wrap: break-word;
    word-break: break-all;
}

.body-panel {
    height: inherit;
    padding-left: $body-panel-h-padding;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.list-panel {
    margin-top: auto;
    height: fit-content;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    list-style: none;
}

.list-panel-item {
    padding: 5px;
}

.typing-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 19px;
    animation: pulse 1s infinite;
}

.composer-panel {
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 5px $color-light-shadow;
    z-index: 50;
}

.msg-composer {
    min-height: 45px;
    width: 100%;
    padding: 15px; 
    resize: none;
    border: none;
    outline: none;
}

.msg-composer:focus {
    outline: none;
    box-shadow: none;
}

.loader {
    margin: 5px;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 0.75s linear infinite;
}

.loader-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-img {
    max-width: calc(#{100%} - #{$body-panel-h-padding*2});
    border: 2px solid grey;
}

.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(20px);

}

.modal-content {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px $color-dark-shadow;
    width: fit-content;
    min-width: 200px;
    min-height: 50px;
    max-height: 80%;
}

.modal-topbar {
    @extend .top-bar;
    height: 40px;
    z-index: inherit;
    padding-left: 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.modal-title {
    margin: auto;
}

.form {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.form-element {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-label {
    margin: 0;
}

.form-button-panel {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

.form-button {
    background-color: silver; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.error-msg {
    font-size: 14px;
    color: #f00;
}

.cross-container {
    width: fit-content;
    height: fit-content;
    opacity: 0.5;
    background-color: rgba(0,0,0,0);
}

.cross-container:hover {
    opacity: 1;
    cursor: pointer;
}

.cross {
    margin-left: 12.5px;
    width: 25px;
    height: 25px;
}

.cross:before, .cross:after {
    position: absolute;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: gray;
}
.cross:before {
    transform: rotate(45deg);
}
.cross:after {
    transform: rotate(-45deg);
}

/* ||| Avatar */
.rounded-img {
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.rounded-container {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-user-select: none;   
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ||| Timeline event */
.msg-body {
    position: relative;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 100%;
    border-radius: 4px;
}

.msg-toolbar {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    margin-left: auto;
    height: fit-content;
    width: fit-content;
    display: none;
    border-radius: 3px;
    border: 1px solid $color-light-shadow;
    border-left: 0px;
}

.msg-tool {
    height: 22px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid gray;
}

.msg-tool:hover {
    cursor: pointer;
}

.msg-body:hover .msg-toolbar {
    display: flex;
}

.msg-data {
    height: fit-content;
}

/* || Styling and themes */
.send-button {
    height: 100%;
    width: 75px;
    padding: 0px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;

    transition: width 0.2s, box-shadow 0.2s;
}

.send-button:disabled {
    width: 0px;
}

.send-button:hover {
    box-shadow: 0 0 20px $color-light-shadow;
}

.reply-popup {
    z-index: 49;
    border-top: 1px solid $color-light-shadow;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 5px;
    min-height: 125px;
    max-height: 20%;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 100%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 0 0 20px $color-light-shadow;
}

blockquote {
    display: block;
    margin: 0;
    padding-left: 15px;
    border-left: 3px solid grey;
}

a {
    color: #238cf5;
    text-decoration: none;
    font-weight: 600;
}

a:hover, a:active {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: #238cf5;
}

.user-list {
    display: flex;
    flex-flow: column nowrap;
    max-height: 100%;
    padding-left: 0px;
    padding-right: 10px;
}

.user-list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.user-panel {
    max-height: calc(80% - 50px);
    max-height: calc(80vh - 50px);
}

/* ||| Scrollbar */
.scrollable {
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

/* ||| Animations */
.hoverable:hover {
    box-shadow: 0 0 5px $color-light-shadow;
    z-index: 99;
    cursor: pointer;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}