body {
	display: flex;
	background: #333333;
}

#rooms {
	min-width: 400px;
	width: 25%;
	height: 100%;
	float: left;
}

#room-header {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 1 1;
	z-index: 9999;
}

#room-body {
	height: 100%;
	flex-grow: 1;
	float: right;
}

#msg-list {
	overflow-y: scroll;
}